@import '@/assets/styles/mixin.scss';

.VTitle {
  padding: $padding--md;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-left {
    font-size: $fontSize--lg;
    color: $color-grey--3;
  }

  &-right {
    font-size: $fontSize--sm;
    color: $color-grey--9;

    &-txt {
      vertical-align: middle;
    }

    &-icon {
      $w: 12px;

      width: $w;
      height: $w;
      vertical-align: middle;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
